<!DOCTYPE html>
<html>
<head>
    <title>GYSO Registration</title>
    <link href="/content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <form class="form-signin" method="post">
            <p>Please enter your email address</p>
            <br />
            <input class="form-control" type="text" name="email">
            <br />
            <input class="btn" type="submit" value="Submit">
        </form>
</div> <!-- /container -->
</body>
</html>
