<!DOCTYPE html>
<html>
<head>
    <title>GYSO Registration</title>
    <link href="/content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <p>We have sent an email to the address you specified with the list of players currently registered with that address.</p>
        <a href="/">Return</a>
    </div> <!-- /container -->
</body>
</html>
