<!DOCTYPE html>
<html>
<head>
    <title>La Registratcion</title>
    <link href="/content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <form class="form-signin" method="post">
            <h3 class="form-signin-heading">LA REGISTRACI&Oacute;N (UNA FORMA POR JUGADOR)</h3>
            <a href="/register-english">In English</a>
            <br />
            <br />
            <label>Nombre del jugador</label>
            <input type="text" class="form-control" placeholder="Name" name="name" required>
            <br />
            <label>Grado</label>
            <select class="form-control" name="GradeId" required>
                <option value="1">Kindergarten</option>
                <option value="2">1st</option>
                <option value="3">2nd-3rd</option>
                <option value="4">4th-5th</option>
                <option value="5">Middle</option>
            </select>
            <br />
            <label>Sexo</label>
            <select class="form-control" name="sex" required>
                <option value="0">Ni&ntilde;o</option>
                <option value="1">Ni&ntilde;a</option>
            </select>
            <br />
            <label>Fecha de nacimiento</label>
            <input type="datetime" class="form-control" placeholder="XX/XX/20XX" name="birthday" required>
            <br />
            <label>Capacidad atl&eacute;tica</label>
            <select class="form-control" name="athletic" required>
                <option value="Average">Promedio</option>
                <option value="Considerable">Avanzado</option>
                <option value="Limited">Limitado</option>
            </select>
            <br />
            <label>Experiencia de f&uacute;tbol adicional (si alguna)</label>
            <input type="text" class="form-control" placeholder="" name="soccerexperience">
            <br />
            <label>Me gustar&iacute;a jugar en el equipo de (nombre del jugador)</label>
            <input type="text" class="form-control" placeholder="Player Name" name="playwith">
            <br />
            <label>Nombre del padre</label>
            <input type="text" class="form-control" placeholder="" name="parentname" required>
            <br />
            <label>Numero de telefono preferido</label>
            <input type="text" class="form-control" placeholder="1-XXX-XXX-XXXX" name="parentphone1" required>
            <br />
            <label>No. Telefono 2 (opcional)</label>
            <input type="text" class="form-control" placeholder="1-XXX-XXX-XXXX" name="parentphone2">
            <br />
            <label>Email</label>
            <input type="text" class="form-control" placeholder="example@example.com" name="parentemail" required>
            <br />
            <label>Contaco de Emergencia (si el padre no esta disponible)</label>
            <input type="text" class="form-control" placeholder="" name="emergencyname" required>
            <br />
            <label>No. Telefono 1</label>
            <input type="text" class="form-control" placeholder="1-XXX-XXX-XXXX" name="emergencyphone1" required>
            <br />
            <label>No. Telefono 2 (opcional)</label>
            <input type="text" class="form-control" placeholder="1-XXX-XXX-XXXX" name="emergencyphone2">
            <br />
            <label>Patrocinador (se necesitan $250.00 [deducible en los impuestos] por cada equipo. Su nombre o el de su empresa aparecer&aacute;n en las camisetas)</label>
            <input type="checkbox" class="form-control" name="sponsorcheck" value="true">
            <br />
            <label>Entrenador o asistente (no necesita experiencia – una clínica requerida para los entrenadores programada para el 25 de marzo)</label>
            <input type="checkbox" class="form-control" name="coachcheck" value="true">
            <br />
            <label>Contribuci&oacute;n al fondo de becas (deducible en los impuestos) &ndash; incluya por favor la donaci&oacute;n con la solicitud</label>
            <input type="checkbox" class="form-control" name="scholarshipcheck" value="true">
            <br />
            <br />
            <p>RENUNCIA DE RESPONSABILIDAD LEGAL</p>
            <p>PADRES O GUARDIANES LEGALES DE LOS JUGADORES DEBEN LEER Y FIRMAR ANTES DE PARTICIPAR EN LAS ACTIVIDADES</p>
            <p class="c2">
                <span class="c1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reconozco por este medio que hice solicitud voluntariamente a nombre del jugador arriba nombrando para participar en el entrenamiento y en los partidos afiliados con &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo; en el a&ntilde;o 2017. Entiendo que el futbol puede ser una actividad peligrosa y le doy mi permiso al jugador que participe en esta actividad con el conocimiento de la posibilidad de peligro y estoy de acuerdo en aceptar cualquier riesgo de da&ntilde;o o muerte. Por este medio exonero y descargo a &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo;, junto a sus sucesores, asignados, fideicomisarios, oficiales, empleados, representantes y agentes, de cualquier responsabilidad de cualquier tipo. &nbsp;Incluye, sin estar limitado a, da&ntilde;o de propiedad, heridas f&iacute;sicas, angustia mental, verg&uuml;enza, difamaci&oacute;n, e invasi&oacute;n de privacidad, que el jugador pueda sufrir en cualquier momento, basado en, resultando de o en cualquier manera conectado con viaje a y de las actividades, y la participaci&oacute;n del jugador en actividades de &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo; incluyendo pero no limitando a cualquier reclamo en cualquier momento, basado en, resultando de o en cualquier manera conectado con la negligencia, omisiones u otros hechos de &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo; y sus sucesores, asignados, fideicomisarios, oficiales, empleados, representantes y agentes, o todas partes de las propiedad usadas por &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo; &nbsp;Yo tambi&eacute;n doy permiso para que mi ni&ntilde;o sea fotografiado para el uso sin identificaci&oacute;n de nombre en sitios web de &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo; u otros materiales promocionales.</span>
            </p>
            <p class="c0">
                <span class="c1" />
            </p>
            <p class="c2">
                <span class="c1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. &nbsp;El Jugador no podr&aacute; recuperar de &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo; &nbsp;o sus sucesores, asignados, fideicomisarios, oficiales, empleados, representantes y agentes por los da&ntilde;os, p&eacute;rdidas, o heridas sufridas en relaci&oacute;n con esto aunque las heridas o da&ntilde;os ocurran y est&eacute;n relacionadas con actos u omisiones de &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo; o sus sucesores, asignados, fideicomisarios, oficiales, empleados, representantes y agentes.</span>
            </p>
            <p class="c0">
                <span class="c1" />
            </p>
            <p class="c2">
                <span class="c1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B. &nbsp;El jugador no podr&aacute; hacer una demanda o pleito legal contra &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo; o sus sucesores, asignados, fideicomisarios, oficiales empleados, representantes y agentes aunque &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo; o sus sucesores, asignados, fideicomisarios, oficiales, empleados, representantes y agentes puedan haber sido responsables por el jugador.</span>
            </p>
            <p class="c0">
                <span class="c1" />
            </p>
            <p class="c2">
                <span class="c1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;He le&iacute;do este acuerdo y entiendo completamente su contenido. &nbsp;Estoy conciente que es una renuncia de reclamo legal y un contrato v&aacute;lido para la consideraci&oacute;n entre, yo, el jugador nombrado arriba y &ldquo;Goshen Youth Soccer Organization, Inc.&rdquo; y he firmado por voluntad propia.</span>
            </p>
            <br />
            <label>Firma</label>
            <input type="text" class="form-control" placeholder="" name="signature" required>
            <br />
            <label>Fecha</label>
            <input type="text" class="form-control" placeholder="XX/XX/20XX" name="signaturedate" required>
            <br />
            <button class="btn btn-lg btn-success btn-block" type="submit" value="Submit">Continuar</button>
            <br />
            @Html.AntiForgeryToken()
        </form>
        <p style="color: red">@Model.Error</p>
        <br />
        <a href="/login">Admin</a>
    </div> <!-- /container -->
</body>
</html>
