<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="/content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <p>Registration is currently closed.</p>
        <br />
        <a href="/login">Admin</a>
    </div> <!-- /container -->
</body>
</html>
